{overlay,[{mkdir,"releases/0.0.1"},
          {copy,"./sys.config","releases/0.0.1/sys.config"},
          {copy,"./boot_shim","bin/alchemud"},
          {copy,"./boot_shim.bat","bin/alchemud.bat"},
          {copy,"./boot","releases/0.0.1/alchemud.sh"},
          {copy,"./boot.bat","releases/0.0.1/alchemud.bat"},
          {copy,"/home/qqwy/Programming/Personal/mud/alchemud/start2/alchemud/_build/prod/consolidated/Elixir.List.Chars.beam",
                "lib/alchemud-0.0.1/consolidated/Elixir.List.Chars.beam"},
          {copy,"/home/qqwy/Programming/Personal/mud/alchemud/start2/alchemud/_build/prod/consolidated/Elixir.Enumerable.beam",
                "lib/alchemud-0.0.1/consolidated/Elixir.Enumerable.beam"},
          {copy,"/home/qqwy/Programming/Personal/mud/alchemud/start2/alchemud/_build/prod/consolidated/Elixir.Alchemud.Connections.ConnectionProtocol.beam",
                "lib/alchemud-0.0.1/consolidated/Elixir.Alchemud.Connections.ConnectionProtocol.beam"},
          {copy,"/home/qqwy/Programming/Personal/mud/alchemud/start2/alchemud/_build/prod/consolidated/.compile.protocols",
                "lib/alchemud-0.0.1/consolidated/.compile.protocols"},
          {copy,"/home/qqwy/Programming/Personal/mud/alchemud/start2/alchemud/_build/prod/consolidated/Elixir.Collectable.beam",
                "lib/alchemud-0.0.1/consolidated/Elixir.Collectable.beam"},
          {copy,"/home/qqwy/Programming/Personal/mud/alchemud/start2/alchemud/_build/prod/consolidated/Elixir.String.Chars.beam",
                "lib/alchemud-0.0.1/consolidated/Elixir.String.Chars.beam"},
          {copy,"/home/qqwy/Programming/Personal/mud/alchemud/start2/alchemud/_build/prod/consolidated/Elixir.Apex.Format.beam",
                "lib/alchemud-0.0.1/consolidated/Elixir.Apex.Format.beam"},
          {copy,"/home/qqwy/Programming/Personal/mud/alchemud/start2/alchemud/_build/prod/consolidated/Elixir.IEx.Info.beam",
                "lib/alchemud-0.0.1/consolidated/Elixir.IEx.Info.beam"},
          {copy,"/home/qqwy/Programming/Personal/mud/alchemud/start2/alchemud/_build/prod/consolidated/Elixir.Inspect.beam",
                "lib/alchemud-0.0.1/consolidated/Elixir.Inspect.beam"}]}.

{generate_start_script,false}.

{extended_start_script,true}.

{include_src,false}.

{include_erts,true}.

{release,{alchemud,"0.0.1"},[{alchemud,"0.0.1"},elixir,iex,sasl]}.

{lib_dirs,["/home/qqwy/Programming/Personal/mud/alchemud/start2/alchemud/_build/prod/lib",
           "/home/qqwy/Programming/Personal/mud/alchemud/start2/alchemud/deps",
           "/home/qqwy/.asdf/installs/elixir/1.2.5/bin/../lib/elixir/ebin",
           "/home/qqwy/.asdf/installs/elixir/1.2.5/bin/../lib/ex_unit/ebin",
           "/home/qqwy/.asdf/installs/elixir/1.2.5/bin/../lib/mix/ebin",
           "/home/qqwy/.asdf/installs/elixir/1.2.5/bin/../lib/eex/ebin",
           "/home/qqwy/.asdf/installs/elixir/1.2.5/bin/../lib/iex/ebin",
           "/home/qqwy/.asdf/installs/elixir/1.2.5/bin/../lib/logger/ebin"]}.

